<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CancelC2COrder</title>
</head>
<script>
var form = document.getElementById("theForm");
form.onclick = function(e) {
  // Get the event
  e = e || window.event;

  // Did it originate in an input[type=submit]?
  if (e.target.tagName === "INPUT" &&
      e.target.type === "submit") {
    // Yes
    alert(e.target.value);
  }
};
</script>
<body>
  <form action="http://logistics-stage.allpay.com.tw/Express/CancelC2COrder" method="post" id="theForm">
    <% @params.each do |k, v| %>
      <input type="text" name="<%= k %>" value="<%= v %>">
    <% end %>
    <input type="submit">
  </form>
</body>
</html>